/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  * {
    font-family: Helvetica;
  }
  body {
    margin: 0;
  }
  .child_div2 img {
    height: 300px;
    width: 400px;
  }
  .navbar {
    display: flex;

    align-items: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-weight: 300;
    margin-left: 2px;
    margin-top: 10px;
  }

  .navbar__title {
    margin-right: auto;
    font-size: 100%;
    padding: 6px 8px;
  }

  .navbar__item {
    padding: 2px 2px;
    vertical-align: middle;
    text-decoration: none;
    color: #6d5eea;
    font-weight: bold;
  }
  .button {
    padding: 4px;
    border-radius: 5px;
    background-color: rgb(68, 68, 240);
    color: white;
    margin-right: 5px;
  }
  .menu {
    margin-left: 30px;
  }
  .maindiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
  }
  .images {
    height: 200px;
    width: 300px;
  }
  .contain {
    line-height: 70%;
    align-items: center;
  }
  .block {
    display: flex;
    justify-items: center;
    margin-top: 200px;
    align-items: center;
    flex-wrap: nowrap;
    padding: 30px;
  }
  .image {
    height: 50px;
    width: 50px;
  }
  .logopage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
  }
  .contactmain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 90px;
  }
  .contactcard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  input[type="text"],
  [type="email"],
  [type="password"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  .maindiv_page4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
  }
  .main_div-page5 {
    margin-top: 100px;
    text-align: center;
  }
  .sub_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
  }

  .main_divpag4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f1f4f8;
    width: 100%;
  }
  .submainpage4 {
    display: flex;
    justify-content: space-around;
  }
  .main_footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  .subdiv_footer2 {
    display: flex;

    flex-direction: row;
  }
  .subchild_footer1 ul li {
    list-style-type: none;
    text-decoration: none;
  }
  .style_list ul li {
    text-decoration: none;
    list-style-type: none;
  }
  .subchild_footer2 ul li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .sociallogo img {
    margin: 5px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  * {
    font-family: Helvetica;
  }
  body {
    margin: 0;
  }
  .child_div2 {
    height: "200px";
    width: "300px";
  }
  .navbar {
    display: flex;

    align-items: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-weight: 300;
    margin-left: 5px;
  }

  .navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 6px 8px;
  }

  .navbar__item {
    padding: 8px 8px;
    vertical-align: middle;
    text-decoration: none;
    color: #6d5eea;
    font-weight: bold;
  }
  .button {
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(68, 68, 240);
    color: white;
    margin-right: 10px;
  }
  .menu {
    margin-left: 30px;
  }
  .maindiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
  }
  .images {
    height: 200px;
    width: 300px;
  }
  .contain {
    line-height: 70%;
    align-items: center;
  }
  .block {
    display: flex;
    justify-items: center;
    margin-top: 200px;
    align-items: center;
    flex-wrap: nowrap;
    padding: 30px;
  }
  .image {
    height: 50px;
    width: 50px;
  }
  .logopage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
  }
  .contactmain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 90px;
  }
  .contactcard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  input[type="text"],
  [type="email"],
  [type="password"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  .maindiv_page4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
  }
  .main_div-page5 {
    margin-top: 100px;
    text-align: center;
  }
  .sub_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
  }

  .main_divpag4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f1f4f8;
  }
  .submainpage4 {
    display: flex;
    justify-content: space-around;
  }
  .main_footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  .subdiv_footer2 {
    display: flex;

    flex-direction: row;
  }
  .subchild_footer1 ul li {
    list-style-type: none;
    text-decoration: none;
  }
  .style_list ul li {
    text-decoration: none;
    list-style-type: none;
  }
  .subchild_footer2 ul li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .sociallogo img {
    margin: 5px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  * {
    font-family: Helvetica;
  }
  body {
    margin: 0;
  }

  .navbar {
    display: flex;

    align-items: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-weight: 300;
    margin-left: 10px;
  }

  .navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
  }

  .navbar__item {
    padding: 16px 16px;
    vertical-align: middle;
    text-decoration: none;
    color: #6d5eea;
    font-weight: bold;
  }
  .button {
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(68, 68, 240);
    color: white;
    margin-right: 20px;
  }
  .menu {
    margin-left: 30px;
  }
  .maindiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
  }
  .images {
    height: 300px;
    width: 400px;
  }
  .contain {
    line-height: 70%;
    align-items: center;
  }
  .block {
    display: flex;
    justify-items: center;
    margin-top: 200px;
    align-items: center;
    flex-wrap: nowrap;
    padding: 30px;
  }
  .image {
    height: 50px;
    width: 50px;
  }
  .logopage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
  }
  .contactmain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 90px;
  }
  .contactcard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  input[type="text"],
  [type="email"],
  [type="password"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  .maindiv_page4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
  }
  .main_div-page5 {
    margin-top: 100px;
    text-align: center;
  }
  .sub_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
  }

  .main_divpag4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f1f4f8;
  }
  .submainpage4 {
    display: flex;
    justify-content: space-around;
  }
  .main_footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  .subdiv_footer2 {
    display: flex;

    flex-direction: row;
  }
  .subchild_footer1 ul li {
    list-style-type: none;
    text-decoration: none;
  }
  .style_list ul li {
    text-decoration: none;
    list-style-type: none;
  }
  .subchild_footer2 ul li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .sociallogo img {
    margin: 5px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  * {
    font-family: Helvetica;
  }
  body {
    margin: 0;
  }

  .navbar {
    display: flex;

    align-items: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-weight: 300;
    margin-left: 10px;
  }

  .navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
  }

  .navbar__item {
    padding: 16px 16px;
    vertical-align: middle;
    text-decoration: none;
    color: #6d5eea;
    font-weight: bold;
  }
  .button {
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(68, 68, 240);
    color: white;
    margin-right: 20px;
  }
  .menu {
    margin-left: 30px;
  }
  .maindiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
  }
  .images {
    height: 400px;
    width: 500px;
  }
  .contain {
    line-height: 70%;
    align-items: center;
  }
  .block {
    display: flex;
    justify-items: center;
    margin-top: 200px;
    align-items: center;
    flex-wrap: nowrap;
    padding: 30px;
  }
  .image {
    height: 50px;
    width: 50px;
  }
  .logopage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
  }
  .contactmain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 90px;
  }
  .contactcard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  input[type="text"],
  [type="email"],
  [type="password"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  .maindiv_page4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
  }
  .main_div-page5 {
    margin-top: 100px;
    text-align: center;
  }
  .sub_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
  }

  .main_divpag4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f1f4f8;
  }
  .submainpage4 {
    display: flex;
    justify-content: space-around;
  }
  .main_footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  .subdiv_footer2 {
    display: flex;

    flex-direction: row;
  }
  .subchild_footer1 ul li {
    list-style-type: none;
    text-decoration: none;
  }
  .style_list ul li {
    text-decoration: none;
    list-style-type: none;
  }
  .subchild_footer2 ul li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .sociallogo img {
    margin: 5px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  * {
    font-family: Helvetica;
  }
  body {
    margin: 0;
  }

  .navbar {
    display: flex;

    align-items: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-weight: 300;
    margin-left: 10px;
  }

  .navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
  }

  .navbar__item {
    padding: 16px 16px;
    vertical-align: middle;
    text-decoration: none;
    color: #6d5eea;
    font-weight: bold;
  }
  .button {
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(68, 68, 240);
    color: white;
    margin-right: 20px;
  }
  .menu {
    margin-left: 30px;
  }
  .maindiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
  }
  .images {
    height: 500px;
    width: 600px;
  }
  .contain {
    line-height: 70%;
    align-items: center;
  }
  .block {
    display: flex;
    justify-items: center;
    margin-top: 200px;
    align-items: center;
    flex-wrap: nowrap;
    padding: 30px;
  }
  .image {
    height: 50px;
    width: 50px;
  }
  .logopage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
  }
  .contactmain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 90px;
  }
  .contactcard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  input[type="text"],
  [type="email"],
  [type="password"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  .maindiv_page4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
  }
  .main_div-page5 {
    margin-top: 100px;
    text-align: center;
  }
  .sub_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
  }

  .main_divpag4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f1f4f8;
  }
  .submainpage4 {
    display: flex;
    justify-content: space-around;
  }
  .main_footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  .subdiv_footer2 {
    display: flex;

    flex-direction: row;
  }
  .subchild_footer1 ul li {
    list-style-type: none;
    text-decoration: none;
  }
  .style_list ul li {
    text-decoration: none;
    list-style-type: none;
  }
  .subchild_footer2 ul li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .sociallogo img {
    margin: 5px;
  }
  .button1 {
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(68, 68, 240);
    color: white;
    display: flex;
    justify-content: center;
  }
}
